html {
  font-size: 18px;
}

body {
  font-family: "Epilogue", sans-serif;
  margin: 0;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem;
}

header .logo {
  float: left;
  margin: 0.8rem;
  margin-right: 2.5rem;
}

.topnav {
  height: auto;
  width: 100%;
}

@media screen and (min-width: 1441px) {
  .topnav {
    width: 80%;
    margin: 0 auto;
  }
}

.topnav .icon {
  display: none;
}

.topnav .close {
  display: none;
}

.dropdown {
  float: left;
  position: relative;
}

.dropdown-btn {
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  color: dimgray;
  display: block;
  border: none;
  background: none;
  text-align: left;
  cursor: pointer;
  outline: none;
  letter-spacing: 0.7px;
  margin-right: 0.4rem;
  font-weight: 700;
}

.dropdown-btn img {
  margin-left: 0rem;
}

.rotate {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  height: auto;
  top: 3rem;
  background-color: #f9f9f9;
  border-radius: 12px;
  -webkit-box-shadow: 0px 8px 16px 5px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 8px 16px 5px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.dropdown-content.first {
  right: 1rem;
  padding: 0.8rem 0.8rem;
  text-align: start;
  min-width: 7rem;
  color: dimgray;
}

.dropdown-content.second {
  right: 0;
  padding: 0.8rem 0rem 0.8rem 1rem;
  text-align: center;
  color: dimgray;
}

.icone {
  margin-right: 0.5rem;
  vertical-align: middle;
}

.topnav a {
  float: left;
  display: block;
  color: dimgray;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
  margin-top: 0.2rem;
  font-weight: 700;
}

.topnav a:hover {
  color: #141414;
}

.dropdown-content.first a {
  float: none;
  text-decoration: none;
  width: 6rem;
}

a.register {
  float: right;
  margin-top: 0.2rem;
  margin-right: 0.8rem;
  margin-left: 1.5rem;
  padding: 0.7rem;
  width: 4.2rem;
  font-weight: 700;
  background-color: white;
  border: 1px solid dimgray;
  color: dimgray;
  border-radius: 13px;
  letter-spacing: 1px;
  cursor: pointer;
  text-align: center;
}

.topnav .right {
  float: right;
}

a.register:hover {
  border: 1px solid #141414;
  color: #141414;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.section-left {
  width: 31rem;
  height: 50rem;
  padding-left: 8.7rem;
}

.title {
  width: 29rem;
  letter-spacing: -0.55px;
  margin-top: 7.9rem;
  font-size: 4.4rem;
}

.description {
  width: 27rem;
  margin-top: -1.2rem;
  letter-spacing: 0.1px;
  line-height: 1.55;
  color: dimgray;
}

.learn {
  height: 3.2rem;
  letter-spacing: -0.2px;
  border-radius: 16px;
  margin-top: 1.9rem;
  margin-bottom: 0;
  padding-left: 0.55rem;
  font-family: inherit;
  font-size: 1rem;
  color: white;
  font-weight: 700;
  line-height: 1;
  border: 1px solid #141414;
  background-color: #141414;
  width: 9.2rem;
  cursor: pointer;
}

.learn:hover {
  background-color: white;
  border: 1px solid #141414;
  color: #141414;
}

.section-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  width: 40rem;
  height: 50rem;
}

.content {
  margin-top: 2.2rem;
  width: 26.5rem;
  margin-left: -0.8rem;
  background-image: url(./images/image-hero-desktop.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.section-footer {
  margin-top: 4.2rem;
  height: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.section-footer img {
  margin-right: 2.25rem;
}
/*# sourceMappingURL=style.css.map */